---


import '../../styles/global.css';
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import PersonajeComponent from '../../components/PersonajeComponent';
import Personaje from '../../models/Personaje';
// api
import { getPersonajesByGender } from "../../services/getPersonajes";

const { gender } = Astro.props;
const personajes:Personaje[] = await getPersonajesByGender(gender || '');
export async function getStaticPaths() {
  const afiliaciones = ["Male","Female", "Unknown"];
  return afiliaciones.map((gender) => ({
    params: { gender },
    props: { gender },
  }));
}
---
<Layout>
    <Header/>
    <div class="container mx-auto p-5 justify-center">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mt-15">
            {personajes.map((personaje) => (
                <PersonajeComponent personaje={personaje} />
            ))}
        </div>
    </div>
    <Footer/>
</Layout>